@use 'variables';
.container-principal__forms {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2em;
  margin: 1em;
  border-radius: 5%;
  &-opcion{
    transition: .4s ease-in-out;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    &:hover{
      transform: scale(1.05);
      border: 1px solid black;
    }
  }
  &-heading{
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  &-backoffice{
    transition: .4s ease-in-out;
    width: 50%;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    &:hover{
      transform: scale(1.05);
      border: 1px solid black;
    }
  }
}
#file{
  display: none;
}
.span-duplicados{
  display: none;
  font-size: .8rem;
  color: red ;
}
.select{  
  color: #d3d3d3;
  border-radius: 4px; /* Borde redondeado */
}
.option{
  background-color: #171717;
  border: none;
  color: #d3d3d3;
}