@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'container-principal';
@use 'modal-login';
@use 'backoffice';
@use 'detalle';
@use 'cart-modal1';
@use 'baner';
@use 'baner2';
@use 'flechas';
@use 'slogan';
@use 'locales';
@use 'filtro';
@use 'footer';
@use 'cart';

.main-contanier{
  width: 100%;
  margin: auto;
  position: relative;
}
.content{
    
    margin: 30PX;
    background-color: gainsboro;
    border-radius: 10px;
  @media (min-width: 1115px){
    margin: 80PX;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1115px;
  }
}
